extends layout

block header
  .header
    .navbar-container
      ul.navbar.dark-navbar
        li(class=title?undefined: 'active')
          a(href="/") 首页
        li(class=title=='观点'?'active': undefined)
          a(href="/viewpoint") 观点
        li(class=title=='项目'?'active': undefined)
          a(href="/projects") 项目
        li(class=title=='动态'?'active': undefined)
          a(href="/news") 动态
        li(class=title=='关于'?'active': undefined)
          a(href="/about") 关于

block content
  #about-scroll-container.loading(percent="0")
    section
      .video-container
        video(src="http://7xokt4.com1.z0.glb.clouddn.com/about_transition.mp4", width="100%", height="100%")
    section
      .video-container
        video(src="http://7xokt4.com1.z0.glb.clouddn.com/about_introduction.mp4", width="100%", height="100%")
    section.about-scroll-team
      .container
        h2 我们的团队
        .team-member-container
          .team-item.member-1
            .team-item-intro
              h3 费舍尔的二
              p 真羡慕右边这些有故事的人，不像我，一个帅字贯穿终生。
          .team-item.member-2
            .team-item-intro
              h3 Jinny
              p
                | 蓝胖子的口袋你有嘛？
                br
                | ψ(｀ ∇ ´ )ψ
          .team-item.member-3
            .team-item-intro
              h3 腰杆不痛了
              p 勿忘初心，以及，肺
          .team-item.member-4
            .team-item-intro
              h3
                a(href="http://mailto1587.github.io/", target="_blank") mailto1587@github.io
              p
                a(href="http://music.163.com/#/song?id=3932159", target="_blank") BGM I
                &nbsp;
                a(href="http://music.163.com/#/song?id=4439938", target="_blank") BGM II
          .team-item.member-5
            .team-item-intro
              h3 Anne
              p 青春、激情、、
          .team-item.member-6
            .team-item-intro
              h3 J.ms
              p  This moment , we own it
          .team-item.member-7
            .team-item-intro
              h3 路一直都在
              p 一个人没有信心，第二天都不想起床。
          .team-item.member-8
            .team-item-intro
              h3 summerD
              p 我是要成为海贼王的男人
          .team-item.member-9
            .team-item-intro
              h3 Tony
              p 其实我都不会写代码, 就站在这里装装样子吧
          .team-item.member-10
            .team-item-intro
              h3 Lagel
              p 大家跟我一起来 biu biu biu..
          .team-item.member-11
            .team-item-intro
              h3 无声
              p 要么忙着生存，要么赶着去死！人总是要做点什么...
          .team-item.member-12
            .team-item-intro
              h3 小 v
              p ╮(╯_╰)╭
    section.about-scroll-routes
      .container
        h2 我们的历程
        .timeline
        .timeline-item.left
          h3 2013
          p 2013 年 3 月，“抽象科技”团队成立，Only three idiots
        .timeline-item.right
          h3 2013 - 2014
          p 2013 至 2014 年全年，为 Deadline 而战，同时思考软件和人生
        .timeline-item.big-dot.left
          h3 2015
          p 2015 年 7 月，得到天使轮风投
        .timeline-item.right
          h3 2015
          p 2015 年 10 月，明悟，确定目标，确定事业，以新姿态展现在大家面前
    section.about-scroll-contact
      .container
        .contact-info
          h2 联系我们
          p 坐标一江之流，心系四海之界
          ul
            li.tel 0571-86131487
            li.email
              a(href="mailto:business@abstack.com") business@abstack.com
            li.blog
              a(href="http://blog.abstack.com/", target="_blank") blog.abstack.com
            li.addr 浙江省杭州市西湖区文三西路 111 号
      .footer.about-footer CopyRight &copy; 2016 抽象科技
        a(href="http://www.miitbeian.gov.cn/") 浙ICP备13028152号-3
  block footer
  link(rel="stylesheet", href="/libs/onepagescroll/onepagescroll.min.css")
  script(src="/libs/onepagescroll/onepagescroll.min.js")
